h1
{
    color: cornflowerblue;
}

#banner
{
    background-image: url(banner.jpg);
    height: 30vh;
    width: 100%;
}
/* .nav
{
    display: grid;
    grid-template-columns: 100px 100px 100px;
   
} */

.grid-container
{
    display: grid;
    grid-template-columns: 400px 800px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(18, 143, 147);
    background-color: rgb(114, 218, 222);
}

.nav ul {margin: 10px;}
.nav ul li {padding:10px; display: inline; background-color:rgb(18, 143, 147);}
a:link {color: rgb(93, 44, 255);}
a:hover{ color: cyan;}
a:visited{color: chartreuse;}

